@page "/login"
@using BootstrapBlazor.Components
@using BlazorAppETF.Models.Account
@using BlazorAppETF.Services
@using Console = BootstrapBlazor.Components.Console
@inject AppAuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager

    
    <label class="text-danger">@error</label>
        <EditForm class="form-signin text-center" Model="@login" OnValidSubmit="HandleFormSubmit">
        
            <Avatar IsCircle="true" IsIcon="true" Icon="fa fa-user"/>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" @bind="login.Email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" @bind="login.PasswordHash"  id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

        </EditForm>

@code{
    string error { get; set; }
    private User login = new User();

    
    async Task HandleFormSubmit()
    {
        error = null;
        try
        {
            
            
            authStateProvider.API.SetBaseUrl(navigationManager.BaseUri);
            await authStateProvider.Login(login);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }  
    }
}
