@inject NavigationManager _nav
@using Microsoft.AspNetCore.Components.Authorization


@inject NavigationManager Navigation

<header class="p-3 p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!--
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                Logo
            </a>
            -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
               <AuthorizeView>
                    <Authorized>
                <li>
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
                    </Authorized>
               </AuthorizeView>
                <li><a href="/About" class="nav-link px-2">About</a></li>
            </ul>

            <!--
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
            -->

            <div class="text-end">
                
                <AuthorizeView>
                    <Authorized>
                        <ul>
                            <li>
                                Hello, @context.User.Identity?.Name!
                                <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
                            </li>
                        </ul>
                       
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-outline-primary me-2" @onclick="@(() => _nav.NavigateTo("/Login"))">Login</button>
                        <button type="button" class="btn btn-warning" @onclick="@(() => _nav.NavigateTo("/register"))">Sign-up</button>
                    </NotAuthorized>
                </AuthorizeView>
                
                
            </div>
        </div>
    </div>
</header>

@code{
//add on top    @inject SignOutSessionStateManager SignOutManager

    private async Task BeginLogout(MouseEventArgs args)
    {
 //       await SignOutManager.SetSignOutState();
        _nav.NavigateTo("/");
    }
}